<% include partials/header %>
<style>
    body {
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .container {
        text-align: center;
    }
    span {
        font-family: 'Courgette', cursive;
    }
    .jumbotron {
        background-color: rgba(255, 250, 250, 0);
    }
    footer {
        background-color: #212121;
    }
    #logof {
        font-family: 'Courgette', cursive;
        font-size: 500%;
        margin-top: 3%;
        color: white;
    }
    .link {
        margin: 4% 0 4% 0;
        font-weight: bold;
        font-size: 125%;
    }
    .lin {
        
        font-weight: bold;
        font-size: 125%;
        margin-top: 9%;
    }
</style>
<div class="main-body">
 <div class="container">
     <header class="jumbotron">
         <%if(!currentuser){%>
            <div class="container">
                    <h1>Welcome To <span>Books for Fy</span></h1>
                 </div>
         <%}
        else{%>
            <div class="container">
                    <h1>Welcome To <span>Books for Fy </span><%= currentuser.name.toUpperCase()%> </h1>
               </div>
        <%}%>
        </header>
</div>
<div class="container">
    <header class="jumbotron">
        <div class="container">
                 <p style="font-weight: 600; color:black;">This Web-App is made with the view to facilitate first years while buying books</p>
       </div>
</header>
</div>

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <p id="logof" class>Book4Fy</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 mb-md-0 mb-5">

          <ul class="list-unstyled">
                <li class="link">
                    <a id="about" href="/about">About Us</a>
                </li>
                <li class="link">
                    <a href="/feedback">Leave Feedback</a>
                 </li>
          </ul>
  
        </div>
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
<script>
</script>
<% include partials/footer %>
