<% include partials/header %>

<style>
    fieldset {
        padding-left: 1%;
        padding-right: 1%;
    }
</style>
<fieldset>
        <h3>Appointments Schedule</h3>
        <table class="table table-borderless" >
            <tr>
            <th>Sy Name</th>
            <th>Contact Number</th>
            <th>Request Date</th> 
            <th>Book Price</th>
            </tr>
        <% fy.appointments.reverse();
        fy.appointments.forEach(function(appointment){ %>
            <tr>
                <% var month = appointment.bookingdate.getMonth() +1; %>
                <td><%= appointment.syname.toUpperCase() %></td>
                <td><%= appointment.sycn %></td>
                <td><%= appointment.bookingdate.getDate() + "/" + month + "/" + appointment.bookingdate.getFullYear() %></td> 
                <td><%= appointment.bookprice %></td>
            </tr>
        <% }) %>
        </table>
    </fieldset>
<% include partials/footer %>